#shop{
    columns:2;
    width: auto;
   
}
i#icon{
    font-size: 22px; /* ขนาดไอคอน */
    margin: 10px; /* ระยะห่างระหว่างไอคอน */
}
body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
  }
  nav.categiroes div {
    /* Make the navigation bar width 80% of viewport and align in the center with no padding */
    width: 80%;
    margin: 0 auto;
  }
  .container {
  
    display: flex;
  }
  .flex_item {
    
    flex: auto;
    margin: 0 10px; 
  }
  /*eng*/
  section.categiroes {
    margin-top: 52px;
    border: 1px solid red;
  }
  .col p{
    margin-left: 10px;
  }
  section.toppicks {
    margin-top: 90px;
    border: 1px solid red;
  }
  .boxback1 {
    height: 370px;
    width: 398px;
    margin-top: 70px;
    margin-left: 79px;
    margin-right: 38px;
    display: inline-block;
    background-color: #24ea80;
    border: 1px solid red;
  }
  .boxback2 {
    height: 370px;
    width: 398px;
    margin-top: 70px;
    margin-right: 38px;
    display: inline-block;
    background-color: #24ea80;
    border: 1px solid red;
  }
  .boxback3 {
    height: 370px;
    width: 398px;
    margin-top: 70px;
    margin-right: 79px;
    display: inline-block;
    background-color: #24ea80;
    border: 1px solid red;
  }
  .boxback3 img {
    margin-top: 40px;
  }
  section.discounted {
    margin-top: 90px;
    border: 1px solid red;
  }

  /*eng*/

  
  .categiroes a:link,
  .categiroes a:visited {
    background-color: #cfa716;
    margin: 20px;
    color: #fff;
    padding: 0.5em;
    display: inline-block;
    border-radius: 50%; /* ปรับเป็นวงกลม */
  }
  
  .large {
    /* Disable images when viewport is smaller than 600px */
    display: none;
  }
  @media only screen and (min-width: 600px) {
    /* Set styling when viewport is at least 600px */
    .small {
      /* Disable text links */
      display: none;
    }
    .large {
      /* Enable image links */
      display: inline-block;
    }
    img {
      /* set image width to be resizable when viewport size is adjusted */
      width: 100%;
      height: auto;
      border-radius: 0.5em;
    }
  
  }
  
