<footer class="py-5">
    <div class="row">
      <div class="col-md-3 mb-3">
        <!-- CONTACT US -->
        <h5>CONTACT US </h5>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">joyjoy_ja@gmail.com</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">044-953-262</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">SE953262 CAMT,Chiang Mai University</a></li>
      </div>
 
      <div class="col-md-3 mb-3">
          <!-- HELP -->
          <h5>HELP</h5>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Order Status</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Order Cancellation</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Payment Options</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Shipping and Delivery</a></li>
      </div>
 
      <div class="col-md-3 mb-3">
          <!-- COMPANY -->
          <h5>COMPANY</h5>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About JoyJoy</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Support</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Q&A</a></li>
      </div>
 
      <div class="col-md-3 mb-3">
          <!-- SOCIAL MEDIA -->
          <h5>SOCIAL MEDIA</h5>
          <form>
              <div class="d-flex flex-column flex-sm-row w-100 gap-3">
                  <i class="bi bi-facebook"></i>
                  <i class="bi bi-instagram"></i>
                  <i class="bi bi-youtube"></i>
                  <i class="bi bi-twitter-x"></i>
              </div>
          </form>
      </div>
  </div>
 
  <div class="row">
    <div class="col">
        <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center py-4 my-4 border-top">
            <p>&copy;2024 JoyJoy. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <!-- Add your social media links here -->
            </ul>
        </div>
    </div>
</div>
</footer>