<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a href="../home" class="nar-logo">
        <img src="/image/logo.png" alt="Logo" style="max-width: 100px; height: auto;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Shop
                </a>
                <ul class="dropdown-menu" id="shop">
                    <div class="row">
                        <div class="col">
                            <p>Shop</p>
                            <li><a class="dropdown-item" href="../FigurePage">Figure and Model</a></li>
                            <li><a class="dropdown-item" href="../boardgamePage">Board game</a></li>
                            <li><a class="dropdown-item" href="../legoPage">LEGO</a></li>
                            <li><a class="dropdown-item" href="../PlushToyPage">Plush Toy</a></li>
                            <li><a class="dropdown-item" href="../ToyCarPage">Toy Car</a></li>
                        </div>
                        <div class="col">
                            <p>Brand</p>
                            <li><a class="dropdown-item" href="../brandCare">Care Bears</a></li>
                            <li><a class="dropdown-item" href="../brandLego">LEGO</a></li>
                            <li><a class="dropdown-item" href="../brandBanpresto">BANPRESTO</a></li>
                        </div>
                    </div>
                </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  New & Featured
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../NewArrPage">New Arrivals</a></li>
                <li><a class="dropdown-item" href="../BestSellers">Best Sellers</a></li>
                <li><a class="dropdown-item" href="../UpcomPage">New & Upcomming Drops</a></li>
                <li><a class="dropdown-item" href="../OnlyJoyPage">Only at JoyJoy</a></li>
              </ul>
            </li>
                </li>

              <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
       Sale
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="../SaleFigure">Sale Figure and Model</a></li>
        <li><a class="dropdown-item" href="../SaleBoard">Sale Board game</a></li>
        <li><a class="dropdown-item" href="../SaleLEGO">Sale LEGO</a></li>
        <li><a class="dropdown-item" href="../SalePlush">Sale Plush Toy</a></li>
        <li><a class="dropdown-item" href="../Saletoycar">Sale Car Toy</a></li>
                  </ul>
                </li>
                    </li>
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        <i class="fa-solid fa-bag-shopping" id="icon"></i>
        <i class="fa-regular fa-user" id="icon"></i>
      </form>
    </div>
  </div>
</nav>
