<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>werewolf</title>
</head>
<body>
    <div class="boxx">
        <div class="boxback">
          <a href=""><img src="/image/boardgame1.png"></a>
          <div class="white-box"><p>$52</p></div>
        </div>
        <div class="box-text">werewolf<p>Board game</p></div>
      </div>
</body>
</html>