<%- include('partials/header') %>
<style>
    .button-group {
    text-align: center;
}

.button {
    background-color: #4CAF50; /* เขียว */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

</style>
<div class="button-group">

    <a href="/productPage" class="button" style="text-decoration: none; color: white;">Product</a>

    <a href="/categoryPage" class="button" style="text-decoration: none; color: white;">Category</a>
    <button class="button">Sale History</button>
</div>
</body>
</html>