<%- include('partials/header') %>
<div class="container">
    <% if(message){ %>
    <p class="text-center text-denger"><%= message %></p>
    <% } %>
    <% if ( categories ){ %>
    <form action="" class="add-category-from" method="post" enctype="multipart/form-data">
        <div class="form-row">
           
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="category_name" id="category_name" placeholder="category name" required>
            </div>
            <button type="submit" class="btn btn-primary float-right">Update</button>
        </div>
    </form>
    <% } %>
</div>
</body>
</html>
