<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sale Toy Car</title>
    <%- include("partials/head") %>
</head>
<body>
  <%- include("partials/navbar") %>
  
<section class="Categories">
    <div class="album py-5 bg-body-tertiary">
    <h3>UP TO 40% OFF</h3>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../home">HOME</a></li>
        <li class="breadcrumb-item"><a href="#">SALE</a></li>
        <li class="breadcrumb-item"><a href="#">SALE TOY CAR</a></li>
      </ol>
    </nav>
    <div class="container-Categories">
      <%- include("partials/product") %>
    </div>
    </div>
    </section>

<!--footer-->
<section class="footer">
  <main>
  <div class="container">
    <%- include("partials/footer") %>
  </div>
</main>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body> 
    